body{
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/macos-monterey-wwdc-21-stock-dark-mode-5k-6016x6016-5585.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.bunito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-top: 10%;
    border: solid 10px blueviolet;
    border-radius: 5px;
}

.bunito-txt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;

}

#tuamae {
    width: 100%;
}

#tuamae video{
    width: 100%;
}
#tuamae canvas{
    width: 100%;
    margin-left: -100%;
}